html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  /*background-color: blue;*/
  border-bottom: 1px solid darkgray;
}

header h1 {
  font-size: 1.8em;
  margin: 0;
  padding: 4px;
  display: inline-block;
}

header .map-legend {
  float: right;
}

.map-legend select, .map-legend svg {
  vertical-align: middle;
  margin-right: 6px;
}

.map-legend select {
  height: 30px;
  font-size: 1em;
}

.content {
  display: flex;
  flex: 1;
  /*background-color: gray;*/

}

#map {
  flex: 1;
}

.district {
  stroke-width: 0.5;
}

.district.per_minorities, .district.per_free_reduced {
  stroke: darkblue;
}

.district.rural_des {
  stroke: darkgreen;
}

.district:not(.no-data) {
  cursor: pointer;
}

.district.no-data, {
  stroke: darkgray;
  fill: lightgray;
}

.background-district {
  stroke: darkgray;
  fill: lightgray;
}

#tooltip, #hover-tooltip {
  position: absolute;
  opacity: 0;
  border: 1px solid black;
  padding: 8px;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(133,133,133,1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(133,133,133,1);
  box-shadow: 4px 4px 4px 0px rgba(133,133,133,1);
  border-radius: 4px;
}

#close-tooltip {
  display: inline-block;
  cursor: pointer;
  padding: 0 4px;
  border: 1px solid lightgray;
  border-radius: 2px;
  float: right;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
}

#close-tooltip:hover {
  background-color: rgba(233,233,233,0.8);
}

.tooltip-row:nth-child(even) {
  background-color: lightgray;
}

.tooltip-row {
  padding: 4px;
}

.tooltip-link {
  text-align: center;
}

.tooltip-label, .tooltip-value {
  display: inline-block;
}

.tooltip-label {
  font-weight: bold;
  margin-right: 8px;
}

.tooltip-header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid darkgray;
  margin-bottom: 6px;
  position: relative;
  padding: 4px 0;
}

.tooltip-header > div {
  margin-right: 14px;
  display: inline-block;
}
