@media (min-width: 992px) {
  .App .sidebar > .panel {
    font-size: 0.9em;
  }
  .App .district-info .district-info-title {
    font-size: 1.2em;
  }
  .App .panel-title {
    font-size: 1.6em;
  }
  .App .form-control {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .App .sidebar > .panel {
    font-size: 0.7em;
  }
  .App .district-info .district-info-title {
    font-size: 0.9em;
  }
  .App .panel-title {
    font-size: 1.4em;
  }
  .App .form-control {
    font-size: 0.9em;
  }
}

.App {
  height: 100%;
  position: relative;
}

.App .map-container {
  height: 100%;
}
.App > .row, .App > row >  section, .App > row > aside {
  height: 100%;
}

.App .sidebar {
    padding: 16px 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App .sidebar > .panel {
  /*display: flex;*/
  flex: 1;

  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(87,87,87,1);
  margin: 10px 0;
  overflow: visible;
  /*font-size: 0.9em;*/
}

.App .map-controls .panel-body {
  padding-bottom: 0;
  overflow-y: auto;
}

.App .district-info .district-info-title {
  margin-top: 0;
  /*font-size: 1.2em;*/
  font-weight: bold;
  text-align: left;
}

.App .district-info header {
  text-align: left;
  margin-bottom: 20px;
}

.App .sidebar > .district-info .panel-body {
  text-align: center
}

.App .district-info-label {
  text-align: left;
  font-weight: bold;
}
