.Map .data-feature {
  cursor: pointer;
}

.map-legend-row {
    padding: 2px 8px;
}

.map-legend-symbol {
  display: inline-block;
  vertical-align: middle;
}

.map-legend-label {
  margin-left: 10px;
  font-weight: normal;
  /*vertical-align: middle;*/
}
