.Map .data-feature {
  cursor: pointer;
}

.map-legend-row {
    padding: 2px 8px;
}

.map-legend-symbol {
  display: inline-block;
  vertical-align: middle;
}

.map-legend-label {
  margin-left: 10px;
  font-weight: normal;
  /*vertical-align: middle;*/
}

.map-popup {
  position: absolute;
  border-radius: 4px;
  border: 1px solid darkgray;
  background-color: white;
  padding: 8px;
}
